/* background color : #eeeeee ;  
 button color : #f00;
 alt background-color:#ddd;
 icons #167ac6 on hover 
 icons normal #767676;
 text normal #333;
 text secondary color:#aaa;

*/

*{
    font-family: 'Roboto', sans-serif;
}

body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header""main main main" "footer footer footer";
    grid-template-rows: auto;
  


}

#main-header{
    grid-area:header;
    background-color:#fff;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

main{
    grid-area:main;
    background-color:#eeeeee;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "video video preview" ;
    grid-template-rows: auto;
    
   
   
}



footer{
    grid-area:footer;
}

article{
    display:flex;
    flex-direction: row;

}

.logo{
    width: 90px;
    height:90px;

}

#player{
    grid-area:video;
}

#previews{
    grid-area:preview;
}

.video{
    margin:15px;
    padding:15px;
   
}

 .video iframe{

   width:100%;
   height:100%;
   max-width: 960px;
   min-height:450px;
  

   
 }
 iframe{

    width:100%;
   max-width: 250px;
    margin:0.5em;
   
 
    
  }

 .btn{
   background-color: #f00;
   color:white;
   border-radius:1px;
   border:none;
   padding:10px;
   margin:8px;
   font-size: 1em;

 }

 .material-icons{
    color:#767676;
    font-size: 1.8em!important;
   
 }

 .toggle{
     color: #167ac6!important;
     font-size: 3em!important;
     vertical-align: middle;
 }



.flex{
    display:flex;
    flex-direction: row;
    margin:5px;
}
 .author{
     display:flex;
     flex-direction: row;
     justify-content: space-around;
 }

 input[type=search] {
margin:none;
width:100%;
border:none;
padding:0.9em;
  }

  .search-button{
   
    margin:none;
    background: #ddd;
    border: none;
    cursor: pointer;
  }

  p{
      color:#767676;
  }
